<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ flatpage.title }}</title>
</head>
<body>
    <div class="container"> <!-- Добавьте этот класс -->
        <nav style="margin-bottom: 20px; padding: 10px; border-bottom: 1px solid #ccc;">

             <!-- Подключаем теги для работы с соцсетями (ОБЯЗАТЕЛЬНО в самом верху блока или файла) -->
            {% load socialaccount %}

            <a href="{% url 'news_list' %}">Все новости</a> |
            <a href="{% url 'post_search' %}">Поиск</a>

            <div style="float: right;">
                {% if user.is_authenticated %}
                    <span>Привет, {{ user.username }}!</span>

                    {% if not is_author %}
                        <a href="{% url 'upgrade' %}" style="margin-left: 10px; padding: 5px; background: #eee; border: 1px solid #999; text-decoration: none; color: black; border-radius: 3px;">
                    Стать автором!
                        </a>
                    {% endif %}

                    <a href="{% url 'account_logout' %}" style="margin-left: 10px;">Выйти</a>
                {% else %}

                    <!-- КНОПКА ЯНДЕКСА -->
                    <a href="{% provider_login_url 'yandex' %}" style="margin-right: 15px; color: red; font-weight: bold;">Войти через Яндекс</a>


                    <a href="{% url 'account_login' %}">Войти</a>
                    <a href="{% url 'account_signup' %}" style="margin-left: 10px;">Регистрация</a>
                {% endif %}
            </div>
        </nav>

        {{ flatpage.content }}
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>