{% load i18n %}

html{% extends 'default.html' %}

{% block content %}
    <h2>{% trans "Подтверждение удаления" %}</h2>
    <hr>
    <form action="" method="post">
        {% csrf_token %}
        <p>{% blocktrans %}Вы действительно хотите удалить "{{ object.title }}"?{% endblocktrans %}</p>

        {% trans "Да, удалить" as my_delete_text %}

        <input type="submit" value="{{ my_delete_text }}" />
        <a href="{% url 'news_list' %}">{% trans "Отмена" %}</a>
    </form>
{% endblock %}