{% extends 'default.html' %} <!-- СТРОГО НА ПЕРВОЙ СТРОКЕ -->
{% load i18n %}

{% block content %}
    <h2>{% trans "Редактирование новости/статьи" %}</h2>
    <hr>
    <!-- Форма отправляет данные методом POST -->
    <form action="" method="post">
        {% csrf_token %} <!-- Защита Django от подделки запросов (обязательно!) -->

        {{ form.as_p }} <!-- Выводит поля моей PostForm (заголовок, текст и т.д.) -->

        <!-- ИСПРАВЛЕНО: соединили save_changes нижним подчеркиванием -->
        {% trans "Сохранить изменения" as save_changes %}

        <!-- ИСПРАВЛЕНО: подставили правильную переменную -->
        <input type="submit" value="{{ save_changes }}" />
    </form>
{% endblock %}
