{% extends 'default.html' %}

{% load i18n %}

{% block content %}
    <h1>{% trans "Поиск новостей" %}</h1>

    {# Форма фильтрации #}
    <form action="" method="get">
        {{ filterset.form.as_p }}

        {% trans "Найти" as find %}

        <input type="submit" value="{{find}}" />
    </form>

    <hr>

    {# Список результатов #}
    {% if news %}
        {% for item in news %}
            <div>
                <h3>{{ item.title }}</h3>
                <p>{% blocktrans %}Автор: {{ item.author }} | Дата: {{ item.creation_time_date|date:'d.m.Y' }}{% endblocktrans %}</p>
                <p>{{ item.text|truncatechars:20 }}</p>
            </div>
        {% endfor %}
    {% else %}
        <h2>{% trans "Новостей по таким критериям нет!" %}</h2>
    {% endif %}

    {# Здесь можно добавить блок пагинации, как на основной странице #}
{% endblock %}